In [2]:
import os
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'Assignments',
 'coding_book_answers',
 'contact.csv',
 'hangman_art.py',
 'leo.py',
 'MangaOrganizer.py',
 'names_and_scores.csv',
 'notes.py',
 'notes10.py',
 'notes11.py',
 'notes12.py',
 'notes2.py',
 'notes3.py',
 'notes4.py',
 'notes5.py',
 'notes6.py',
 'notes7.py',
 'notes8.py',
 'notes9.py',
 'packt_python',
 'password_project',
 'test.csv',
 'test.txt',
 'total.txt',
 'Untitled.ipynb',
 '__pycache__']

In [3]:
import pandas

In [5]:
df1=pandas.read_csv("contact.csv")
df1

,Isabel,Aguillon,14114 Wetmore Bend,78247,San Antonio,Texas,chavelina0105@gmail.com,2107250262
0,Leonardo,Aguillon,14114 Wetmore Bend,78247.0,San Antonio,Texas,elweros@gmail.com,2.107442e+09
1,Livier,Aguillon,14114 Wetmore Bend,78247.0,San Antonio,Texas,livieralvarez@gmail.com,2.107256e+09
2,Caroline,Ellis,NaN,NaN,San Antonio,Texas,cellis3259@stu.neisd.net,2.102753e+09
3,Kei,Nagai,NaN,NaN,Tokyo,Japan,NaN,NaN
4,Monch,Aguillon,14114 Wetmore Bend,78247.0,San Antonio,Texas,lilmunchinator@gmail.com,2.107605e+09

In [7]:
df2=pandas.read_csv("contact.csv", header=None)
df2

,0,1,2,3,4,5,6,7
0,Isabel,Aguillon,14114 Wetmore Bend,78247.0,San Antonio,Texas,chavelina0105@gmail.com,2.107250e+09
1,Leonardo,Aguillon,14114 Wetmore Bend,78247.0,San Antonio,Texas,elweros@gmail.com,2.107442e+09
2,Livier,Aguillon,14114 Wetmore Bend,78247.0,San Antonio,Texas,livieralvarez@gmail.com,2.107256e+09
3,Caroline,Ellis,NaN,NaN,San Antonio,Texas,cellis3259@stu.neisd.net,2.102753e+09
4,Kei,Nagai,NaN,NaN,Tokyo,Japan,NaN,NaN
5,Monch,Aguillon,14114 Wetmore Bend,78247.0,San Antonio,Texas,lilmunchinator@gmail.com,2.107605e+09

In [9]:
df3=pandas.read_csv("test.csv", header=None)
df3

                0    1    2    3    4    5
0           Denji  133  831  264  158  331
1             Aki  308  385  499  134  108
2           Power  311  647  313  180  271
3           Angel  399  181  219  162  151
4          Makima  412  740  373  175  128
5         Pochita  395  746  489  193  141
6          Himeno  332  725  207  118  367
7          Kobeni  493  584  331  130  311
8           Meowy  481  917  165   67  158
9        Hirokazu  195  768  372   86  309
10       Sawatari  365  959  120  169  238
11           Beam  357  809  287  191  278
12           Reze  140  581  236  119  316
13       Violence  300  195  391   83  192
14         Quanxi  197  273  193   63  286
15  The Puppeteer  413  320  449   59  380
16          Tolka  387  406  331  111  159
17         Master  492  786  157  172  141
18        Kishibe  357  394  343  119  210
19            Yoh  276  695  329  149  198
20            Hao  425  703  351   98  113
21            Ren  212  664  430  131  225
22         Opacho  459  851  432   65  325
23           Anna  398  133  236  119  372
24      Amidamaru  183  131  223  181  327

In [ ]:
df3.columns=["Name", "Water", "Electric", "Phone", "ren